.all {
    width: 1400px;
    margin: 10px auto;
}
body{
    margin: 0 auto;
    padding: 0;
}
.table {
    width: 1400px; /* Thu nhỏ chiều rộng của bảng */
    margin: 10px auto; /* Căn giữa bảng */
    background-color: #ff0000; /* Màu nền đỏ cho Giáng sinh */
    color: #ffffff; /* Màu chữ trắng */
    border-collapse: collapse; /* Gộp viền bảng */
    border-radius: 8px;
    overflow: hidden;
}


.table th, .table td {
    border: 1px solid #ddd; /* Viền cho các ô */
    padding: 8px; /* Khoảng cách bên trong ô */
    text-align: center; /* Căn giữa nội dung */
    vertical-align: middle;
}

.table th {
    background-color: #008000; /* Màu nền xanh lá cho tiêu đề bảng */
    color: white; /* Màu chữ cho tiêu đề bảng */
}

.table img {
    border: 2px solid #333; /* Viền cho hình ảnh */
    border-radius: 5px; /* Bo tròn góc viền */
}

input {
    border: 1px solid #ccc; /* Viền xám */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Bóng mờ */
    padding: 8px; /* Khoảng cách bên trong ô */
    border-radius: 3px; /* Bo tròn góc viền */
    transition: border-color 0.3s ease-in-out; /* Hiệu ứng chuyển đổi viền */
}

input[type="text"] {
    width: 300px;
}

input[type="text"]:focus {
    border-color: #007bff; /* Viền xanh dương khi nhấn chuột vào */
    outline: none; /* Loại bỏ viền mặc định của trình duyệt */
}

.div-search-add {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-child {
    width: 45%;
}

.div-right {
    display: flex;
    justify-content: flex-end;
}

form {
    display: inline-block;
}

.a-load {
    display: inline-block; /* Ensure the <a> tag is inline-block */
    margin-right: 10px; /* Add some margin to the right */
}

.button-add {
    background-color: #ff0000; /* Màu nền đỏ Giáng sinh */
    color: #ffffff; /* Màu chữ trắng */
    border: 1px solid #ccc; /* Viền xám */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Bóng mờ */
    padding: 8px 16px; /* Khoảng cách bên trong nút */
    border-radius: 5px; /* Bo tròn góc viền */
    cursor: pointer; /* Con trỏ chuột */
    transition: background-color 0.3s ease-in-out; /* Hiệu ứng chuyển đổi màu nền */
    display: inline-block; /* Sử dụng flexbox */
    align-items: center; /* Căn giữa nội dung theo chiều dọc */
}

.img-load {
    border: 2px solid red; /* Viền đỏ */
    border-radius: 5px; /* Bo góc 5px */
    transition: background-color 0.3s, filter 0.3s; /* Hiệu ứng chuyển màu và đậm dần khi di chuột qua */
}

.img-load:hover {
    background-color: rgba(255, 0, 0, 0.2); /* Chuyển dần sang màu đỏ nhạt */
    mix-blend-mode: multiply; /* Tăng độ đậm dần */
}

button:hover {
    background-color: #cc0000;
}

.button-add img {
    vertical-align: middle;
    margin-right: 8px;
}

